# Python cache və kompiyasiya faylları
__pycache__/
*.py[cod]
*$py.class

# PyCharm konfiqurasiya qovluğu
.idea/

# Virtual mühit (Virtual Environment)
venv/
env/
ENV/
.venv/

# VS Code istifadə edirsənsə (opsional)
.vscode/

# Ətraf mühit dəyişənləri (Məxfilik üçün)
.env

# Log faylları
*.log

# Verilənlər bazası və böyük data faylları
*.sqlite3
*.hdf5
*.hdf
*.xz